
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">The Unit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Order Now</a>
      </li>
    </ul>
  </div>
</nav>


{{!-- 
<div class="jumbotron">
  <h1 class="display-4">Hello Doll</h1>
  <p class="lead">Welcome to The Unit!</p>
  <hr class="my-5">
 <img src="https://i.pinimg.com/736x/4c/f0/51/4cf0517d36ea3988ef79700288cf2b43--cyber-monday-wigs-for-black-women.jpg">

  <p>We specialize in making wigs! Create your new wig in minutes by following our step by step customization guide!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create A Wig</a>
</div> --}}