{{!-- homepage title --}}
<div class="page-header">
  <h1 class="display-3">Welcome to the Unit</h1>
</div>

<div class="jumbotron-fluid">
  <h1 class="display-4">Hello, Doll!</h1>
  <img src="https://3dwnh01icn0h133s00sokwo1-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/Screen-Shot-2015-07-20-at-11.43.53-AM.jpg" alt="wig">
  <p class="lead">Thanks for stopping by The Unit, we're an online Wig Boutique. Please select Create Account to purchase your new Unit.</p>
  <hr class="my-4">
    <a class="btn btn-primary btn-lg bg-danger" href="store/user" role="button">Create Account</a>
  </p>
</div>