{{!-- homepage title --}}
<div class="page-header">
  <h1 class="display-3">The Unit<small><br>Wig Customization App</small></h1>
</div>
{{!-- hair information and pictures from http://bohoexoticstudio.com/ --}}
{{!-- row --}}
<h2 class="display-4 text-center">Hair Textures</h2>
<div class="row">
{{!-- thumbnail 1 --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn7.bigcommerce.com/s-c8yvxoqyiv/images/stencil/1280x1280/products/288/1621/IMG_2871_Facetune_25-01-2018-12-02-50__58410.1516904318.JPG?c=2&imbypass=on&imbypass=on" alt="Relaxed Straight" class="img-responsive">
      <div class="caption">
        <h3>Straight</h3>
        <p>The Relaxed Straight texture is made by taking raw virgin hair and perming the hair using no lye. The texture comes out textured yet still straight, just as if you were to get a perm yourself. The almost invisible “crimps” in the hair to really capture the authenticity of a naturally kinky girl that has a relaxed perm.</p>
      </div>
    </div>
  </div>
  {{!-- thumbnail 2 --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn7.bigcommerce.com/s-c8yvxoqyiv/images/stencil/1280x1280/products/285/1624/IMG_2882_Facetune_25-01-2018-13-22-10_3__18515.1516911842.JPG?c=2&imbypass=on&imbypass=on" alt="28MM Curl" class="img-responsive">
      <div class="caption">
        <h3>Wavy</h3>
        <p>Named as a larger curl, The 28mm curl has shorter, more distinct “S” waves, similar to the waves you get from unbraiding 1” thick damp braids. The custom made curl can resemble a wave or a curl, depending on how you choose to manipulate the curl.</p>
      </div>
    </div>
  </div>
  {{!-- thumbnail 3 --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn7.bigcommerce.com/s-c8yvxoqyiv/images/stencil/1280x1280/products/121/1743/IMG_2918_Facetune_25-01-2018-16-54-04__26331.1516927232.1280.1280__93031.1516947096.jpg?c=2&imbypass=on&imbypass=on" alt="14MM CURL" class="img-responsive">
      <div class="caption">
        <h3>Curly</h3>
        <p>Also known as the Kawaii Curl. Big, mildly tight curls. Very versatile look for all nationality hairs for its silk like curl. The hair is not a shiny as the looser curls, and is also a little coarser and dense than the higher numbered mm curls.</p>
      </div>
    </div>
  </div>
</div>
{{!-- row 2 --}}
<h2 class="display-4 text-center">Hair Lengths</h2>
<div class="row">
{{!-- thumbnail 4 --}}
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn7.bigcommerce.com/s-c8yvxoqyiv/images/stencil/380x507/products/127/1783/IMG_2931_Facetune_25-01-2018-18-20-50__53484.1516930545.1280.1280__32031.1517090967.1280.1280__15996.1517091049.jpg?c=2&imbypass=on" alt="Short" class="img-responsive" >
      <div class="caption">
        <h3>Short</h3>
        <p>Short lengths range from 10 to 14 inches.</p>
      </div>
    </div>
  </div>
  {{!-- thumbnail 5 --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn7.bigcommerce.com/s-c8yvxoqyiv/images/stencil/1280x1280/products/122/1753/IMG_2921_Facetune_25-01-2018-17-25-13__60537.1516928977.1280.1280__84007.1517089954.1280.1280__12831.1517090075.jpg?c=2&imbypass=on&imbypass=on" alt="Medium Length" class="img-responsive">
      <div class="caption">
        <h3>Medium</h3>
        <p>Medium lengths range from 14 to 18 inches.</p>
      </div>
    </div>
  </div>
  {{!-- thumbnail 6 --}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn7.bigcommerce.com/s-c8yvxoqyiv/images/stencil/1280x1280/products/403/1795/IMG_2811_Facetune_24-01-2018-19-52-10__90222.1517183466.JPG?c=2&imbypass=on" alt="Long Length" class="img-responsive">
      <div class="caption">
        <h3>Long</h3>
        <p>Long lengths range from 18 to 24 inches.</p>
      </div>
    </div>
  </div>
</div>
{{!-- row 3 --}}
<h2 class="display-4 text-center">Cap Size</h2>
<div class="row">
    {{!-- thumbnail 7 --}}
     <div class="col-sm-12 col-md-12 text-center">
    <div class="thumbnail">
      <img src="http://polly-products.com/wp-content/uploads/2014/06/Medium-Height-Mannequin-Heads-15-to-17.5-inches-H.jpg" alt="Cap Size" class="img-responsive">
      <div class="caption">
        <p>Our cap sizes range from small, medium, and large.</p>
      </div>
    </div>
  </div>

</div>