{{!-- homepage title --}}
<div class="page-header">
  <h1 class="display-3">The Unit<small><br>Guest Sign Up</small></h1>
</div>

<!-- Material form register -->
<form action="../store/wigs" method="POST">

    <!-- Material input text -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="materialFormRegisterNameEx" class="form-control">
        <label for="materialFormRegisterNameEx">Your name</label>
    </div>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="materialFormRegisterEmailEx" class="form-control">
        <label for="materialFormRegisterEmailEx">Your email</label>
    </div>

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="materialFormRegisterPasswordEx" class="form-control">
        <label for="materialFormRegisterPasswordEx">Your password</label>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>
<!-- Material form register -->