<h1>Hello There!{{title}}</h1> 
{{!-- curly braces used to ouput a variable passed from node.js to the view to be rendered to the screen b/c of our views don't stay staic--}}
<p>Welcome to {{title}}</p>
